/* 리셋 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, input, textarea,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary, main,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
    font-size: 100%;
	box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, main,
footer, header, hgroup, menu, nav, section {
	display: block;
}
button {
	font: inherit;
    font-size: 100%;
    padding: 0;
	box-sizing: border-box;
}
ol, ul, dl {
	list-style: none;
}
img {
    vertical-align: bottom;
}
a {
	text-decoration: none;
	color: initial;
    outline: none !important;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
input:focus {
    outline: none;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}
select {
    color: #000;
    background: transparent;
}
select:focus {
    outline: none;
}
textarea:focus {
    outline: none;
}
button:focus {
    outline: none;
}
textarea {
    resize: none;
}
input[type=text], input[type=password], textarea {
    font-size: inherit;
}
h1,h2,h3,h4,h5,h6,p,a,label,button,span,em,select,option,input,textarea,th,td,dt,dd,dl {
    margin-bottom: 0;
}
button {
    background: transparent;
    border: none;
    cursor: pointer;
}
sub, sup {
    position: inherit;
    vertical-align: baseline;
}
select, select.select{
    margin: 0;
}
input[type='tel'], input[type='url'], input[type='number'], input[type='email'], input[type='text'], input[type='password'], input.text, input.password{
    margin: 0;
}
input::-webkit-calendar-picker-indicator {
    opacity: 0;
 }
details > summary::marker {
    font-size: 0;
}
/* 리셋 끝 */

/* 위치 및 크기 css 공통 */
.mt-0{margin-top:0!important;}.mt-5{margin-top:5px!important;}.mt-10{margin-top:10px!important;}.mt-15{margin-top:15px!important;}.mt-20{margin-top:20px!important;}.mt-25{margin-top:25px!important;}.mt-30{margin-top:30px!important;}.mt-35{margin-top:35px!important;}.mt-40{margin-top:40px!important;}.mt-45{margin-top:45px!important;}.mt-50{margin-top:50px!important;}.mt-55{margin-top:55px!important;}.mt-60{margin-top:60px!important;}.mt-65{margin-top:65px!important;}.mt-70{margin-top:70px!important;}.mt-75{margin-top:75px!important;}.mt-80{margin-top:80px!important;}.mt-85{margin-top:85px!important;}.mt-90{margin-top:90px!important;}.mt-95{margin-top:95px!important;}.mt-100{margin-top:100px!important;}.mt-105{margin-top:105px!important;}.mt-110{margin-top:110px!important;}.mt-115{margin-top:115px!important;}.mt-120{margin-top:120px!important;}.mt-125{margin-top:125px!important;}.mt-130{margin-top:130px!important;}.mt-135{margin-top:135px!important;}.mt-140{margin-top:140px!important;}.mt-145{margin-top:145px!important;}.mt-150{margin-top:150px!important;}
.mr-0{margin-right:0!important;}.mr-5{margin-right:5px!important;}.mr-10{margin-right:10px!important;}.mr-15{margin-right:15px!important;}.mr-20{margin-right:20px!important;}.mr-25{margin-right:25px!important;}.mr-30{margin-right:30px!important;}.mr-35{margin-right:35px!important;}.mr-40{margin-right:40px!important;}.mr-45{margin-right:45px!important;}.mr-50{margin-right:50px!important;}
.ml-0{margin-left:0!important;}.ml-5{margin-left:5px!important;}.ml-10{margin-left:10px!important;}.ml-15{margin-left:15px!important;}.ml-20{margin-left:20px!important;}.ml-25{margin-left:25px!important;}.ml-30{margin-left:30px!important;}.ml-35{margin-left:35px!important;}.ml-40{margin-left:40px!important;}.ml-45{margin-left:45px!important;}.ml-50{margin-left:50px!important;}
.mb-0{margin-bottom:0!important;}.mb-5{margin-bottom:5px!important;}.mb-10{margin-bottom:10px!important;}.mb-15{margin-bottom:15px!important;}.mb-20{margin-bottom:20px!important;}.mb-25{margin-bottom:25px!important;}.mb-30{margin-bottom:30px!important;}.mb-35{margin-bottom:35px!important;}.mb-40{margin-bottom:40px!important;}.mb-45{margin-bottom:45px!important;}.mb-50{margin-bottom:50px!important;}.mb-55{margin-bottom:55px!important;}.mb-60{margin-bottom:60px!important;}.mb-65{margin-bottom:65px!important;}.mb-70{margin-bottom:70px!important;}.mb-75{margin-bottom:75px!important;}.mb-80{margin-bottom:80px!important;}.mb-85{margin-bottom:85px!important;}.mb-90{margin-bottom:90px!important;}.mb-95{margin-bottom:95px!important;}.mb-100{margin-bottom:100px!important;}.mb-105{margin-bottom:105px!important;}.mb-110{margin-bottom:110px!important;}.mb-115{margin-bottom:115px!important;}.mb-120{margin-bottom:120px!important;}.mb-125{margin-bottom:125px!important;}.mb-130{margin-bottom:130px!important;}.mb-135{margin-bottom:135px!important;}.mb-140{margin-bottom:140px!important;}.mb-145{margin-bottom:145px!important;}.mb-150{margin-bottom:150px!important;}
.my-0{margin-top:0!important;margin-bottom:0!important;}.my-5{margin-top:5;margin-bottom: 5px!important;}.my-10{margin-top:10px!important;margin-bottom:10px!important;}.my-15{margin-top:15px!important;margin-bottom:15px!important;}.my-20{margin-top:20px!important;margin-bottom:20px!important;}.my-25{margin-top:25px!important;margin-bottom:25px!important;}.my-30{margin-top:30px!important;margin-bottom:30px!important;}.my-35{margin-top:35px!important;margin-bottom:35px!important;}.my-40{margin-top:40px!important;margin-bottom:40px!important;}.my-45{margin-top:45px!important;margin-bottom:45px!important;}.my-50{margin-top:50px!important;margin-bottom:50px!important;}.my-55{margin-top:55px!important;margin-bottom:55px!important;}.my-60{margin-top:60px!important;margin-bottom:60px!important;}.my-65{margin-top:65px!important;margin-bottom:65px!important;}.my-70{margin-top:70px!important;margin-bottom:70px!important;}.my-75{margin-top:75px!important;margin-bottom:75px!important;}.my-80{margin-top:80px!important;margin-bottom:80px!important;}.my-85{margin-top:85px!important;margin-bottom:85px!important;}.my-90{margin-top:90px!important;margin-bottom:90px!important;}.my-95{margin-top:95px!important;margin-bottom:95px!important;}.my-100{margin-top:100px!important;margin-bottom:100px!important;}.my-105{margin-top:105px!important;margin-bottom:105px!important;}.my-110{margin-top:110px!important;margin-bottom:110px!important;}.my-115{margin-top:115px!important;margin-bottom:115px!important;}.my-120{margin-top:120px!important;margin-bottom:120px!important;}.my-125{margin-top:125px!important;margin-bottom:125px!important;}.my-130{margin-top:130px!important;margin-bottom:130px!important;}.my-135{margin-top:135px!important;margin-bottom:135px!important;}.my-140{margin-top:140px!important;margin-bottom:140px!important;}.my-145{margin-top:145px!important;margin-bottom:145px!important;}.my-150{margin-top:150px!important;margin-bottom:150px!important;}
.mx-0{margin-left:0!important;margin-right:0!important;}.mx-5{margin-left:5px!important;margin-right:5px!important;}.mx-10{margin-left:10px!important;margin-right:10px!important;}.mx-15{margin-left:15px!important;margin-right:15px!important;}.mx-20{margin-left:20px!important;margin-right:20px!important;}.mx-25{margin-left:25px!important;margin-right:25px!important;}.mx-30{margin-left:30px!important;margin-right:30px!important;}.mx-35{margin-left:35px!important;margin-right:35px!important;}.mx-40{margin-left:40px!important;margin-right:40px!important;}.mx-45{margin-left:45px!important;margin-right:45px!important;}.mx-50{margin-left:50px!important;margin-right:50px!important;}

.pt-0{padding-top:0!important;}.pt-5{padding-top:5px!important;}.pt-10{padding-top:10px!important;}.pt-15{padding-top:15px!important;}.pt-20{padding-top:20px!important;}.pt-25{padding-top:25px!important;}.pt-30{padding-top:30px!important;}.pt-35{padding-top:35px!important;}.pt-40{padding-top:40px!important;}.pt-45{padding-top:45px!important;}.pt-50{padding-top:50px!important;}.pt-55{padding-top:55px!important;}.pt-60{padding-top:60px!important;}.pt-65{padding-top:65px!important;}.pt-70{padding-top:70px!important;}.pt-75{padding-top:75px!important;}.pt-80{padding-top:80px!important;}.pt-85{padding-top:85px!important;}.pt-90{padding-top:90px!important;}.pt-95{padding-top:95px!important;}.pt-100{padding-top:100px!important;}.pt-105{padding-top:105px!important;}.pt-110{padding-top:110px!important;}.pt-115{padding-top:115px!important;}.pt-120{padding-top:120px!important;}.pt-125{padding-top:125px!important;}.pt-130{padding-top:130px!important;}.pt-135{padding-top:135px!important;}.pt-140{padding-top:140px!important;}.pt-145{padding-top:145px!important;}.pt-150{padding-top:150px!important;}
.pr-0{padding-right:0!important;}.pr-5{padding-right:5px!important;}.pr-10{padding-right:10px!important;}.pr-15{padding-right:15px!important;}.pr-20{padding-right:20px!important;}.pr-25{padding-right:25px!important;}.pr-30{padding-right:30px!important;}.pr-35{padding-right:35px!important;}.pr-40{padding-right:40px!important;}.pr-45{padding-right:45px!important;}.pr-50{padding-right:50px!important;}
.pb-0{padding-bottom:0!important;}.pb-5{padding-bottom:5px!important;}.pb-10{padding-bottom:10px!important;}.pb-15{padding-bottom:15px!important;}.pb-20{padding-bottom:20px!important;}.pb-25{padding-bottom:25px!important;}.pb-30{padding-bottom:30px!important;}.pb-35{padding-bottom:35px!important;}.pb-40{padding-bottom:40px!important;}.pb-45{padding-bottom:45px!important;}.pb-50{padding-bottom:50px!important;}.pb-55{padding-bottom:55px!important;}.pb-60{padding-bottom:60px!important;}.pb-65{padding-bottom:65px!important;}.pb-70{padding-bottom:70px!important;}.pb-75{padding-bottom:75px!important;}.pb-80{padding-bottom:80px!important;}.pb-85{padding-bottom:85px!important;}.pb-90{padding-bottom:90px!important;}.pb-95{padding-bottom:95px!important;}.pb-100{padding-bottom:100px!important;}.pb-105{padding-bottom:105px!important;}.pb-110{padding-bottom:110px!important;}.pb-115{padding-bottom:115px!important;}.pb-120{padding-bottom:120px!important;}.pb-125{padding-bottom:125px!important;}.pb-130{padding-bottom:130px!important;}.pb-135{padding-bottom:135px!important;}.pb-140{padding-bottom:140px!important;}.pb-145{padding-bottom:145px!important;}.pb-150{padding-bottom:150px!important;}
.pl-0{padding-left:0!important;}.pl-5{padding-left:5px!important;}.pl-10{padding-left:10px!important;}.pl-15{padding-left:15px!important;}.pl-20{padding-left:20px!important;}.pl-25{padding-left:25px!important;}.pl-30{padding-left:30px!important;}.pl-35{padding-left:35px!important;}.pl-40{padding-left:40px!important;}.pl-45{padding-left:45px!important;}.pl-50{padding-left:50px!important;}
.py-0{padding-top:0!important;padding-bottom:0!important;}.py-5{padding-top:5;padding-bottom: 5px!important;}.py-10{padding-top:10px!important;padding-bottom:10px!important;}.py-15{padding-top:15px!important;padding-bottom:15px!important;}.py-20{padding-top:20px!important;padding-bottom:20px!important;}.py-25{padding-top:25px!important;padding-bottom:25px!important;}.py-30{padding-top:30px!important;padding-bottom:30px!important;}.py-35{padding-top:35px!important;padding-bottom:35px!important;}.py-40{padding-top:40px!important;padding-bottom:40px!important;}.py-45{padding-top:45px!important;padding-bottom:45px!important;}.py-50{padding-top:50px!important;padding-bottom:50px!important;}.py-55{padding-top:55px!important;padding-bottom:55px!important;}.py-60{padding-top:60px!important;padding-bottom:60px!important;}.py-65{padding-top:65px!important;padding-bottom:65px!important;}.py-70{padding-top:70px!important;padding-bottom:70px!important;}.py-75{padding-top:75px!important;padding-bottom:75px!important;}.py-80{padding-top:80px!important;padding-bottom:80px!important;}.py-85{padding-top:85px!important;padding-bottom:85px!important;}.py-90{padding-top:90px!important;padding-bottom:90px!important;}.py-95{padding-top:95px!important;padding-bottom:95px!important;}.py-100{padding-top:100px!important;padding-bottom:100px!important;}.py-105{padding-top:105px!important;padding-bottom:105px!important;}.py-110{padding-top:110px!important;padding-bottom:110px!important;}.py-115{padding-top:115px!important;padding-bottom:115px!important;}.py-120{padding-top:120px!important;padding-bottom:120px!important;}.py-125{padding-top:125px!important;padding-bottom:125px!important;}.py-130{padding-top:130px!important;padding-bottom:130px!important;}.py-135{padding-top:135px!important;padding-bottom:135px!important;}.py-140{padding-top:140px!important;padding-bottom:140px!important;}.py-145{padding-top:145px!important;padding-bottom:145px!important;}.py-150{padding-top:150px!important;padding-bottom:150px!important;}
.px-0{padding-left:0!important;padding-right:0!important;}.px-5{padding-left:5px!important;padding-right:5px!important;}.px-10{padding-left:10px!important;padding-right:10px!important;}.px-15{padding-left:15px!important;padding-right:15px!important;}.px-20{padding-left:20px!important;padding-right:20px!important;}.px-25{padding-left:25px!important;padding-right:25px!important;}.px-30{padding-left:30px!important;padding-right:30px!important;}.px-35{padding-left:35px!important;padding-right:35px!important;}.px-40{padding-left:40px!important;padding-right:40px!important;}.px-45{padding-left:45px!important;padding-right:45px!important;}.px-50{padding-left:50px!important;padding-right:50px!important;}

.d-none{display:none!important;}
.d-block{display:block!important;}
.d-inline-block{display:inline-block!important;}
.d-flex{display:flex!important;}

.block-992{display:none;}
.block-768{display:none;}

.pos-rel{position:relative;}
.pos-abs{position:absolute;}

.text-left{text-align:left!important}
.text-right{text-align:right!important}
.text-center{text-align:center!important}

.flex-between{justify-content:space-between!important}
.flex-center{justify-content:center!important}
.flex-evenly{justify-content:space-evenly!important}
.flex-start{justify-content:flex-start!important}
.align-start{align-items:flex-start!important}
.align-center{align-items:center!important}
.align-end{align-items:flex-end!important}
.align-unset{align-items:unset!important}

.h-100{height:100%;}
.h-auto{height:auto!important}
.w-100{width:100%!important}
.border-r100{border-radius:100%!important}
.border-r-none{border-radius:0!important}
.border-eee{border:1px solid #eee}
.border-none{border:none!important}
.c-000{color:#000!important}
.c-333{color:#333!important}
.c-fff{color:#fff!important}
@media(max-width:992px){.none-992{display:none;}.block-992{display:block;}}
@media(max-width:768px){.none-768{display:none;}.block-768{display:block;}}
/* 공통 끝 */